body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: #ecb9b9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(238, 234, 228);
}

.hide {
    display: none;
}

#options button {
    display: block;
    margin: 8px 0;
}

#progressBar {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
}

#progress {
    background: #4caf50;
    height: 10px;
    width: 0%;
    border-radius: 5px;
}